body{
	background: #494949;
	
	

}
nav{
	/* display: flex; */
	justify-content: space-between;
	justify-items: center;
}
#banner a img{
	width: 1503.2px;
	height: 100px;
}
#main-menu{
	display: flex;
	text-align: center;
	height: 40px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	background-image: url('images/menu_bg.png');
	background-repeat: repeat;
}	
#main-menu >li{
	position: relative;
	padding: 10px 40px;
	border-left:1px solid #414141 ;
	border-right:1px solid #414141 ;
	width: 222.7px;
}
#main-menu >li> a{
	padding: 0px 0px;
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
	width: 222.7px;
}
#main-menu>li>a::before{
	content: "";
	height: 4px;
	width: 0px;
	background: #f00;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: 0.25s cubic-bezier(0.075,0.82,0.165,1);
}
#main-menu>li:hover>a::before{	
	width: 100%;
}
#main-menu ul.sub-menu
{
	position: absolute;
	list-style-type: none;
	padding: 10px 40px;
	width: 222.7px;
	height: auto;
	left: 0px;
	top: 40px;
	background: url('images/menu_bg.png');
	border:1px solid #414141 ;
	display: none;
}

#main-menu li:hover >ul.sub-menu{
	display: block;
	z-index: 2;
}
#main-menu ul.sub-menu li{
	position: relative;
	padding: 10px 0px;
	border-bottom: 1px solid #414141;
	width: 224.7px;
	height: 20px;
	left: 0px;
}

#main-menu ul.sub-menu li>a{
	text-decoration: none;
	color: white;

}
#main-menu ul.sub-menu li:last-child {
	border: none;
	height: 10px;
}

#main-menu ul.sub-menu li:hover a{
	color: red;
}
#left{
	float: left;
	width: 300px;
	height: 900px;
	border: 1px solid black;
	background: #d5fffc;
}
#left h3{
	font-size: 30px;
	text-decoration: underline;
	text-shadow: 3px 3px 4px #140e5a;
	text-align: center;
}
#left #danhmuc{
	width: 250px;
	height: 800px;
	border: 1px solid black;
	overflow-y: scroll;
}
#left #danhmuc a{
	text-decoration: none;
	font-size: 15px;
	color: blue;	
}	
#left #danhmuc .title-name{

	font-weight: 900;

	font-size: 18px;
	color:  black;


}
#left #danhmuc li ul li:hover> a{
	color: red;
	text-decoration: underline;
}
#main{
	float: left;
	height: 300px;
	width: 1200px;
	position: absolute;
	top: 153px;
	left: 310px;
}
#photo img{
	width: 1200px;
	height: 300px;
}
#sanpham{
	width: 1200px;
	height: 600px;
	overflow-y: scroll;
}
#hot{
			float:  left;
			width: 1182px;
			height: 500px;
			background-color: #8f9292;
			margin-bottom: -5000px;
			margin-right: -10px;
			padding: 0px;
		}
		

		.imge{
			background-color: white;
			border-radius: 20%;
			width: 200px;
			height: 400px;
			float: left;
			margin-left: 70px;
			text-align: center;
			box-shadow: 10px 10px #00f800;

		}
		.imge img{
			
			border-radius: 20%;
		}
		
		.tieude{
			color: blue;
			font-weight: 900;
			font-size: 20px;
		}
		#supper{
			float:  left;
			width: 1182px;
			height: 500px;
			background-color: #8f9292;
			margin-bottom: -5000px;
			margin-right: -10px;
			margin-top: 500px;
		}
		.name{
			color: blue;
		}
		.price{
			font-weight: 600;
		}


