body{
	margin: 0px;
	background: #fff;
	font-family: "MyriadPro-Regular", Arial, sans-serif;
	min-width: 1536px;
	height: auto;
	overflow-x:hidden;
	width: 1536px;
	/* max-width: 1536px; */
}

#header{
	
	margin: 0px;

	
	width: 100vw;

	height: auto;
	
}
/* css main-menu */
#logo{
	position: absolute;
	top: 70px;
	left: 300px;
}
#header nav{
	min-width: 1536px;
	display: flemax-width: 1536px;x;

	
	
}	
#header #main-menu {
	display: flex;

	width: 100%;
	margin: 80px 0px 0px 400px;
	
	list-style-type: none;
	

}
#header nav li a{
	

	
	display: block;
	padding: 0px 20px;
	text-decoration:none;
	font-size: 20px;
	color: #151b1b;
	
}
#header nav li img{
	width: 40px;
	padding: 0px 100px;

}

#main-menu li{
	position: relative;
}
#search{
	
	display: flex;
	
	display: none;
	box-shadow: 1px 1px  1px 1px #262929;
	background: #fff;
	border-radius: 20px;

	position: fixed;
}
#search input#text{
	width: 250px;
	height: 30px;	
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border:none;
	text-align: center;
}
#search input[type=submit]{
	width: 70px;
	height: 36px;
	background: red;
	font-size: 15px;
	color: #fff;
	border-left: 0px;
	padding-left: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;



}
#header nav li:hover #search{
	display: block;
	
}

#main-menu ul.sub-menu{
	position: absolute;
	top: 30px;
	background: #fff;
	padding: 0px 0px;
	width: 230px;
	list-style-type: none;	
	box-shadow: 1px 1px  1px 1px #262929;
	display: none;

}

#main-menu li:hover ul.sub-menu{
	display: block;
	transition: 1s;
}

#main-menu ul.sub-menu li{

}
#main-menu ul.sub-menu a{
	padding: 8px 30px;
	

}
#main-menu ul.sub-menu li:hover >a{
	background-color: #afafaf;
	transition: 0.5s;
}
/* banner */
.banner{
	display: flex;
	
	width: 100%;
	height: 400px;
	margin: 0px auto;

}
.banner img{
	min-width: 1536px;
	width: 100%;
	height: 100%;
}
/* sub-img */
#banner-img{
	min-width: 1536px;
	width: 100%;
    
 	height: auto;
 	
}
#banner-img div{
	min-width: 1000px;
	
	width: 64.9%;
	height: auto;
	margin: 0 auto;
	
	padding: 0px;
}
#banner-img img{
	margin: 6px;
	max-height: 340px;
}


#banner-img a:hover img{
	box-shadow: 1px 1px 1px 1px #838383;
	transition: 0.5s;

}
.hot{
	min-width: 1536px;
	width: 100%;    
 	height: auto;
    margin: 10px auto;
 	
 	
 	
}
.hot h3{
	margin-top:20px ;
	text-align: center;
	font-size: 30px;
	font-weight: 500;

}
.hot div.sp{
	min-width: 1000px;
	
	width: 64.9%;
	height: auto;
	margin: 10px auto;
	
	padding: 0px;
	display: flex;
	
	/* margin: 0px 15px; */

}
.hot div.sp div{

	max-width: 240px;
	width: 240px;
	margin: 0px auto;

}

.hot div a{
	display: block;
	
	text-decoration: none;
	text-align: center;
	width: 240px;
	height: 350px;
}
.hot div img{
	width: 240px;
	height: auto;
	background: #cfcfcf;
}

.hot div:hover >a{
	box-shadow: 1px 1px  1px 1px #262929;
}
.hot div a span.title{
	color: black;
}
.hot div a span{
	color: red;
}
.hot div a p.title span{
	color: black;
}
.hot div a p.title:hover  span
{
	color: red;
	font-weight: 900;
}
/* san phẩm mới  */
.new{
	width: 1170px;
    margin: 0px auto;
 	
 	
 	height: auto;


}
#baby-banner .banner img{
	display: flex;
	
	width: 1536px;
	height: 400px;
	margin: 0px auto;
}
.new h3{
	margin-top:20px ;
	text-align: center;
	font-size: 30px;
	font-weight: 500;

}
.new ul{
	width: 1170px;
	list-style-type: none;
	
	margin: 0px 15px;

}
.new li{
	float: left;
	padding: 0px;
}
.new li a{
	display: block;
	margin: 0px 15px 10px;
	text-decoration: none;
	text-align: center;
	width: 240px;
	height: 350px;
}
.new li img{
	width: 240px;
	height: auto;
	background: #cfcfcf;
}

.new li:hover a{
	box-shadow: 1px 1px  1px 1px #262929;
}
.new li a span.title{
	color: black;
	font-size: 1px;
}
.new li a span{
	color: #c93030;
}
.new li a p.title span{
	color: black;
}
.new li a p.title:hover  span
{
	color: red;
	
}
/* footer */
#foorter	{
	clear: left;
	min-width: 1536px;
	width: 1536px;
	height: 300px;
	
	text-align: center;
}
#foorter #foorlogo{
	position: relative;
	top: 40px;
}
#foorter nav.foor-menu ul{
	display: flex;
	margin: 10px auto;
	list-style-type:  none;
	position: relative;
	left: 30%;
	top: 80px;
}
#foorter nav.foor-menu ul a{
	text-decoration: none;
	padding: 10px 15px;
	font-size: 15px;
	color:#a7a7a7;

}

#foorter nav.foor-menu ul li:hover >a
{
	background: rgba(194, 0194, 194, 0.3);
}
#foorter nav.foor-icon  ul
{
	display: flex;
	list-style-type: none;
	position: relative;
	left: 35%;
	top: 120px;

}	
#foorter nav.foor-icon  ul li i{
	margin: 0px 30px;
	height: 70px;
	width: 50px;

}

