:root{
	--tall: auto;
}
body{
	width: 100%;
	background-color: #fff;
	margin: 0px;
	font-family: Times New Roman;
	overflow-x:hidden;
	width: 1536px;
}
#header nav{
	position: relative;
	left: 5%;
	width: 70%;
	height: 86px;
	background-color: #fff;
	margin: 0px auto;
	display: flex;
}
#header nav #logo{
	height: 28px;

}

#logo img{
	width: 40%;
}
#header nav #logo img{
	margin: 30px 0px 10px 50px;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
#header nav ul#main-menu{
	display: flex;
	width: 70%;
	position: relative;
	top: 40px;
	margin: 0px;


}
#header nav ul#main-menu li{
	width: 100px;
	height: 48px;
	padding: 0px;
	margin: 2px;


}
#header nav ul#main-menu li a{
	
	padding: 0px;
	margin: 0px auto;
	/* margin-right: 10px; */
	color : black;
	font-weight: 999;
	text-transform: uppercase;
	font-size: 14px;
}
#header nav ul#main-menu li .sub-menu{
	position: absolute;
	display: none;
	left: 102px;
	margin-top:6px ;
	background-color: #fff;
	z-index: 1;
	box-shadow: 1px 1px  1px 1px #262929;
	padding-left: 0px;
}
#header nav ul#main-menu li .sub-menu li{
	/* display: block; */
	width: 200px;
	height: 30px;
	padding:0px;
	margin: auto;

	/* padding: 0px; */
}
#header nav ul#main-menu li .sub-menu li a{
	display: block;
	/* width: 300px; */
	height: auto;
	
	margin: 0px;
	padding: 8px 30px;
}
#header nav ul#main-menu li:hover .sub-menu{
	display: block;
	transition: 1s;
	
}
#header nav ul#main-menu li .sub-menu li:hover> a{
	background-color: #ebebeb;
	
}
#header nav ul#main-menu li:last-child{
	margin-left: 100px;
}
#header nav ul#main-menu li:last-child img{
	width: 30%;

}
#header nav ul#main-menu li:last-child form#search{
	display: flex;
	position: absolute;
	right:  50px;
	display: none;
	z-index: 1;
}
#header nav ul#main-menu li:last-child:hover form#search{
	display: block;
}

#main .adresse{
	position: relative;
	/* top: 90px; */
	width: 100%;
	padding-left: 15%;
	background-color: #c2c2c2;
	padding-top: 20px;
	padding-bottom: 5px;
	height: auto;

	
}
#main #left{
	float: left;
	/* left: 15% ; */
	width: 300px;
	height: var(--tall);
	margin-left: 200px;

	/* margin-right: 20px; */
	

}
#main #left ul li:first-child
{
	background-color: #ff007f;
	padding: 10px;
	border-radius: 10px;
	margin-top: -15px;
}
#main #left ul li:first-child a{
	font-size: 25px;
	color: #fff;
}


#main #left ul li a{
	display: block;
	color: black;
	/* text-align: right; */
	font-size: 20px;
	font-weight: 999;
	/* width: 20%; */
	padding: 15px 2px;

	
}
#main #left ul li:hover>a{
	background-color: #ebebeb;
}
#main #left ul li:first-child:hover> a
{
	background: none;
}
.sanpham{
	float: left;
	width: 900px;
	
	height: eight: var(--tall);
	margin: 0px;
}

.sanpham h3{
	width: 887px;
	height: 30px;
	padding:10px 0px 0px 15px ;
	background-color: #ebebeb;
	text-align: center;
	margin-top: 3px;
}



.sanpham div{
	margin: 30px;
	float: left;
}


.sanpham div.sp{
	min-width: 1000px;
	
	width: 64.9%;
	height: auto;
	margin: 10px auto;
	
	padding: 0px;
	display: flex;
	
	/* margin: 0px 15px; */

}
.sanpham div.sp div{

	max-width: 240px;
	width: 240px;
	margin: 0px auto;

}

.sanpham div a{
	display: block;
	
	text-decoration: none;
	text-align: center;
	width: 240px;
	height: 350px;
}
.sanpham div img{
	width: 240px;
	height: auto;
	background: #cfcfcf;
}

.sanpham div:hover >a{
	box-shadow: 1px 1px  1px 1px #262929;
}
.sanpham div a span.title{
	color: black;
}
.sanpham div a span{
	color: red;
}
.sanpham div a p.title span{
	color: black;
}
.sanpham div a p.title:hover  span
{
	color: red;
	font-weight: 900;
}
#foorter	{
	clear: left;
	min-width: 1536px;
	width: 1536px;
	height: 300px;	
	text-align: center;
}
#foorter #foorlogo{
	position: relative;
	top: 40px;
}

#foorter #foorlogo img{
	width: 20%;
}
#foorter nav.foor-menu ul{
	display: flex;
	margin: 10px auto;
	list-style-type:  none;
	position: relative;
	left: 30%;
	top: 80px;
}
#foorter nav.foor-menu ul a{
	text-decoration: none;
	padding: 10px 15px;
	font-size: 15px;
	color:#a7a7a7;

}

#foorter nav.foor-menu ul li:hover >a
{
	background: rgba(194, 0194, 194, 0.3);
}
#foorter nav.foor-icon  ul
{
	display: flex;
	list-style-type: none;
	position: relative;
	left: 35%;
	top: 120px;

}	
#foorter nav.foor-icon  ul li i{
	margin: 0px 30px;
	height: 70px;
	width: 50px;

}

