
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* josefin-sans-regular - latin */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/josefin-sans-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/josefin-sans-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/josefin-sans-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/josefin-sans-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/josefin-sans-v25-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */

}
body{
    
    display:
    flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* gap: 30px; */
    
    
    
    /* background:#f0f2f5; */
    background-color: #222;

}

.main{
    margin-top: 300px;
    width: 30rem;
    /* height: 500px;   */
    /* width: 530px; */
    background:#fff;
    /* background-color: #222; */
    margin: auto;
    border-radius: 8px;
    box-shadow:0px 2px 4px 0px #000000;
    border: 1px solid rgb(255, 255, 255); 
}
.container{
    padding: 1em;
    /* background-color:rgb(105, 105, 105);  */
  
}
#title{
    text-align: center;
    color:rgb(0, 0, 0);
    letter-spacing: .1em;
    font-weight: 800;
    font-size: 2em;
}

.inputBox{
    /*  */
    position: relative;
    width: 100%;

}
.inputBox input{
    max-width: 530px;
    width: 100%;
    background: transparent;
    color:rgb(0, 0, 0);
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    letter-spacing:0.1em;
    padding:10px 0 5px;
}
.inputBox  .placeholder{
    position: absolute;
    left: 0;
    padding:10px 0 5px;
    /* color: rgba(255,255,255,0.5); */
    color: rgba(116, 116, 116, 0.511);

    /* text-transform: uppercase; */
    pointer-events:none;
    letter-spacing: .1em;
    transition: 0.5s ease-in-out;
    background: none !important;
    opacity: 1;


}
/* khi có giá trị nhập vào thì element .placeholder sẽ thay đổi */
.inputBox input:valid ~.placeholder,
    .inputBox input:focus ~.placeholder{
    /* color:#2196f3; */
    color:#333;
    transform: translateY(-16px) translateX(3px);
    font-size:0.65em;
    font-weight: 600;
    text-transform: capitalize;
}
.inputBox .border-bottom{
    position:absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background:rgba(116, 116, 116, 0.511);
    overflow: hidden;
}
.inputBox input:valid ~.border-bottom::before,
    .inputBox input:focus ~.border-bottom::before{
        left: 0;
    }
.inputBox .border-bottom::before{
    content: '';
    position:absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #6a5af9,
    #ff2ced,
    #ffb4dc,
    #fc6c8f,
    #ffb86c);
    animation:animate   5s ease alternate infinite;
}
@keyframes  animate
{
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
.box{
    position: relative;
    /* top: 0; */
}
span.checked{
    position: absolute;
    top:3px;
    right: 30px;
    width: 34px;
    height: 34px;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */

}
span.checked.true::before{
    content: '\f00c';
    font-family: 'fontawesome';
    color: rgb(0, 255, 4);
    font-size: 16px;

}
span.checked.false::before
{
    content: '\58';
    font-family: 'fontawesome';
    color: red;
    font-size: 16px;
}
.box .inputBox  span.toggle-btn{
    position: absolute;
    top:3px;
    right: 2px;
    width: 34px;
    height: 34px;
    /* background: rgba(0,0,0,0.05); */
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    margin-top: 20px;
}
.box .inputBox  span.toggle-btn::before{
    content: "\f06e";
    font-family: 'fontawesome';
}

.box .inputBox  span.toggle-btn.hidden::before{
    content: "\f070";
}
.validation{
    /* position: absolute;
    top:20px; */
    /* margin-bottom: 10px; */
    background:rgba(0, 0, 0, 0.342);
    padding: 10px 0;
    margin-top:30px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.12);
    display: none;
    z-index: 1000000;
    transition        : all .3s ease;
    -webkit-transition: all .3s ease;
    
}

.validation ul{
    position: relative;
    display:flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 0;


}
.validation ul li{
    position: relative;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: .85em;
    transition: .5s;
}
.validation ul li::before{
    content:'\f192';
    font-family: 'fontawesome';
    width: 20px;
    height: 15px;
    /* background: red; */
    display: inline-flex;
}
.validation ul li.valid::before{
    content:'\f00c';
    color:rgb(0, 255, 4);
}

.btn{
   
    padding: 0 16px;
    line-height: 48px;
    width: 80%;
    font-size: 20px;
    font-weight: 600px;
    color:#fff;
    border-radius: 8px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    

    
}

@media (max-width:768px) {
    #signin > div:nth-child(2) > div:nth-child(2){
        margin-top: 20px;
    }
    #signin > div:nth-child(6) > div:nth-child(2){
        margin-top: 20px;
    }
}