<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="app">
	<header>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/animate/docs/animate.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" />
		
		
		<link rel="stylesheet" href="./assets/bootstrap5/css/bootstrap.min.css">
		
		<script src="./assets/bootstrap5/js/bootstrap.bundle.min.js"></script>
		<link
			rel="stylesheet"
			href="./assets/font/fontawesome6.2.0/css/all.min.css"
			/>
		<script
			src="./assets/angularjs/angular.min.js"
			></script>
		<script src="./assets/angularjs/angular-route.js"></script>
		<link rel="stylesheet" href="./assets/css/style.css" />
		<link rel="stylesheet" href="./assets/css/Responsive.css" />
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
		<title></title>
	</header>
	<body>
		<div id="main">
			<div id="header">
				<nav id="nav-menu" class="navbar navbar-expand-sm navbar-dark fixed-top">
					<div class="container-fluid">
						<a class="navbar-brand" href="#!/"
							><img src="./assets/img/heading/logo/dgw-logo-grey.png" alt=""
						/></a>

						<div class="offcanvas offcanvas-end text-bg-white" id="right">
							<div class="offcanvas-header">
								<div class="offcanvas-title">
									<div class="row">
										<div class="col-6">
											<div class="img-border">
												<img src="./assets/img/heading/user/none.png" alt="" />
											</div>
										</div>
										<div class="col-6">
											<h3 ng-show="checkcookies">Accoutn</h3>
											<h3 ng-repeat=" i in cookies">{{i.fullname}}</h3>
											<a href="#"><i class="fa-solid fa-cart-shopping me-2"></i>Card</a>
										</div>
									</div>
								</div>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
							</div>
							<div class="offcanvas-body">
								<div class="collapse navbar-collapse show" id="mynavbar">
									<ul class="navbar-nav me-auto">
										<li class="nav-item" ng-click="acive()">
											<a class="nav-link" ng-class="t" href="#!/"> HOME </a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#!/shop"> SHOP </a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="javascript:void(0)">Pricing</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="javascript:void(0)"> ABOUT </a>
										</li>
										<li class="nav-item dropdown">
											<a
												class="nav-link"
												href="javascript:void(0)"
												role="button"
												data-bs-toggle="dropdown">
												Blog
											</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">Link</a></li>
												<li><a class="dropdown-item" href="#">Another link</a></li>
												<li><a class="dropdown-item" href="#">A third link</a></li>
											</ul>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="javascript:void(0)">Contact</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="javascript:void(0)">Purchase Theme!</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="d-flex">
							<a ng-click="login()" id="user-login" class="heading-icon me-4"
								><i class="fa-solid fa-user"></i
							></a>
							<a data-bs-toggle="modal" data-bs-target="#add" class="heading-icon me-4"
								><i class="fa-solid fa-cart-shopping"></i>
								<span>{{cartSl}}</span>
							</a>
							<button style="background: transparent; border: none" class="heading-icon me-4">
								<i
									class="fa-solid fa-magnifying-glass"
									data-bs-toggle="modal"
									data-bs-target="#Modal-search"></i>
							</button>
							<button
								class="navbar-toggler"
								type="button"
								data-bs-toggle="offcanvas"
								data-bs-target="#right">
								<i class="fa-solid fa-bars"></i>
							</button>
						</div>
					</div>
				</nav>
			</div>
			<div id="body" ng-view></div>
			<div id="footer" class="p-5">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<h5>RECENT BLOG</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<div class="row">
										<div class="col-3">
											<img
												src="./assets/img/footer/blog/dgwork-header-devices.jpg"
												alt=""
												style="width: 100%" />
										</div>
										<div class="col-9">
											<p class="text-dark">Comment Styles In Single Post</p>
											<span class="text-muted">August 21, 2022</span>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-3">
											<img
												src="./assets/img/footer/blog/dgwork-blog-pencil.jpg"
												alt=""
												style="width: 100%" />
										</div>
										<div class="col-9">
											<p class="text-dark">Single Post Text Style</p>
											<span class="text-muted h6">August 20, 2022</span>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-3">
											<img
												src="./assets/img/footer/blog/dgwork-blog-photography-room.jpg"
												alt=""
												style="width: 100%" />
										</div>
										<div class="col-9">
											<p class="text-dark">Single Post With Sidebar</p>
											<span class="text-muted h6">August 20, 2022</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<h5>LINKS</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Our Story</li>
								<li class="list-group-item">Blog</li>
								<li class="list-group-item">Pricing</li>
								<li class="list-group-item">Shop</li>
								<li class="list-group-item">Contact</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<img src="./assets/img/heading/logo/dgw-logo-grey.png" alt="" style="width: 90%" />
							<p class="mt-2 mb-2">
								Subscribe to our newsletter so you won’t miss our great premium wordpress themes or the
								other products and interesting things to share!
							</p>
							<form action="">
								<div class="container">
									<div class="row">
										<div class="col-1 mail-icon">
											<i class="fa-regular fa-envelope"></i>
										</div>
										<div class="col-11">
											<input
												type="email"
												class="form-control"
												id="email"
												placeholder="Enter email"
												name="email" />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="Modal-search">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<!-- Modal body -->
					<div class="modal-body" style="border: none">
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						<div class="container p-5">
							<h1>Search Products</h1>
							<form action="">
								<div class="row">
									<div class="col-4">
										<select name="typeSearch" id="typeSearch" class="w-100">
											<option value="Product">Product</option>
											<option value="Docs">Docs</option>
											<option value="Blog">Blog</option>
										</select>
									</div>
									<div class="col-8">
										<input
											id="Modal-input-search"
											type="text"
											placeholder="Start typing and press Enter to search" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="buy-modal">
			<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row">
							<div class="col-6">
								<img width="100%" src="{{buy.img}}" alt="" />
								<h4>Description</h4>
								<p>{{buy.Description}}</p>
							</div>
							<div class="col-6">
								<h1 class="text-center">{{buy.name}}</h1>
								<p>{{buy.shortDescription}}</p>
								<p>{{buy.price[buy.price.length - 1] |currency}}</p>
								<button
									type="button"
									class="btn btn-warning"
									ng-click="addCart(buy._id)"
									data-bs-dismiss="modal">
									Thêm vào giỏ hàng
								</button>
								<p class="mt-5">Category: {{buy.Category}}</p>
							</div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="eidtmodal">
			<div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row">
							<div class="col-6">
								<img width="100%" src="{{upImg}}" alt="" />
								<h4>Description</h4>
								<textarea ng-model="upDesc" rows="10" cols="50" ng-bind="upDesc"> </textarea>
								<p></p>
							</div>
							<div class="col-6">
								<h3>Name</h3>
								<input type="text" ng-model="upName" ng-bind="upName" style="width: 100%" />
								<h3>Short description</h3>
								<textarea ng-model="upShort" rows="5" cols="50" ng-bind="upShort"> </textarea>

								<h3>Image</h3>
								<input type="text" ng-model="upImg" style="width: 100%" />
								<h3>Price</h3>
								<input type="text" ng-model="upPrice" ng-bind="upPrice" style="width: 100%" />
								<h3>Category</h3>
								<input type="text" ng-model="upCateg" ng-bind="upCateg" style="width: 100%" />
								<h3>Tag</h3>
								<input type="text" ng-model="upTag" ng-bind="upTag" style="width: 100%" />
							</div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-warning"
							ng-click="update(upId,upName,upImg,upCateg,upDesc,upShort,upPrice,upTag)"
							data-bs-dismiss="modal">
							Update
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addmodal">
			<div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row">
							<div class="col-6">
								<img width="100%" src="{{addImg}}" alt="" />
								<h4>Description</h4>
								<textarea ng-model="addDesc" rows="10" cols="50"> </textarea>
								<p></p>
							</div>
							<div class="col-6">
								<h3>Name</h3>
								<input type="text" ng-model="addName" style="width: 100%" />
								<h3>Short description</h3>
								<textarea ng-model="addShort" rows="5" cols="50"> </textarea>

								<h3>Image</h3>
								<input type="text" ng-model="addImg" style="width: 100%" />
								<h3>Price</h3>
								<input type="text" ng-model="addPrice" style="width: 100%" />
								<h3>Category</h3>
								<input type="text" ng-model="addCateg" style="width: 100%" />
								<h3>Tag</h3>
								<input type="text" ng-model="addTag" style="width: 100%" />
							</div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-warning"
							ng-click="add(addId,addName,addImg,addCateg,addDesc,addShort,addPrice,addTag)"
							data-bs-dismiss="modal">
							Add
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="add">
			<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Giỏ Hàng</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="row mb-3">
							<div class="col-2">Mã Sản Phẩm</div>
							<div class="col-2">Tên Sản phẩm</div>
							<div class="col-2">Giá sản phẩm</div>
							<div class="col-2">Số Lượng</div>
							<div class="col-2">Tổng tiền</div>
						</div>
						<div class="row mb-3 p-5" ng-repeat="i in cart" style="border-top: 1px solid yellow">
							<div class="col-2 text-center" ng-bind="'SKU'+i._id"></div>
							<div class="col-2 text-center" ng-bind="i.name"></div>
							<div class="col-2 text-danger text-center" ng-bind="i.price |currency "></div>
							<div class="col-2 text-center">{{i.sl}}x</div>
							<div class="col-2 text-danger text-center" ng-bind="i.sl*i.price |currency"></div>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<h5 ng-if="cart.length>0">Tổng tiền: <span class="text-danger">{{sum |currency}}</span></h5>
						<button type="button" class="btn btn-success" data-bs-dismiss="modal" ng-click="order()">
							Đặt Hàng
						</button>
						<button type="button" class="btn btn-warning" ng-click="delcart()" data-bs-dismiss="modal">
							Xoá
						</button>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="offcanvas offcanvas-start" id="filter">
			<div class="offcanvas-header">
				<h1 class="offcanvas-title">Filter</h1>
				<button type="button " style="background: none; border: none" data-bs-dismiss="offcanvas">
					<i class="fa-solid fa-filter-circle-xmark"></i>
				</button>
			</div>
			<div class="offcanvas-body">
				<h4>Sắp Xếp</h4>
				<select name="sort" ng-model="sort" style="width: 100%">
					<option value="">Thứ tự mặc định</option>
					<option value="name">Theo tên sản phẩm</option>
					<option value="price[price.length-1]">Theo giá tăng dần</option>
					<option value="-price[price.length-1]">Theo giá giảm dần</option>
				</select>
			</div>
		</div>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="./assets/js/script.js"></script>
		<script src="./assets/js/angular.js"></script>
	</body>
</html>
