<!-- slide -->

<div
	class="img-top"
	style="background: url('./assets/img/pro/seamless-gold-rhombus-grid-pattern-black-background_53876-97589.jpg')">
	<button
		class="btn btn-dark"
		type="button"
		data-bs-toggle="offcanvas"
		data-bs-target="#filter"
		style="position: absolute; top: 65%; left: 10%; z-index: 99; color: #fff">
		<i class="fa-solid fa-filter"></i>
	</button>
	<div class="container">
		<h1 class="ps-5 heading-title animate__animated animate__fadeInUp text-white text-start">Shop</h1>
		<h3 class="heading-sub animate__animated animate__fadeInUp text-start ps-5">Create Amazing Digital Works</h3>
	</div>
</div>
<div class="creative">
	<div class="container translate-top">
		<div class="row">
			<div class="col-lg-4 col-md-6" ng-repeat="s in arrProduct |orderBy : sort | limitTo : 6 : begin ">
				<div class="card">
					<div class="creative-img-cover">
						<img class="card-img-top" src="{{s.img}}" alt="Card image" style="width: 100%" />
						<div class="creative-icon">
							<span class="plus" style="--bg: #fff; --color: #34b7ae" ng-click="addCart(s._id)">
								<i class="fa-solid fa-plus"></i>
							</span>
							<span
								ng-click="buyModal(s._id)"
								class="cart"
								data-bs-toggle="modal"
								data-bs-target="#buy-modal"
								style="--bg: #34b7ae; --color: #fff"
								><i class="fa-solid fa-cart-shopping"></i>
							</span>
						</div>
					</div>

					<div class="card-body">
						<a href="#" class="heading-note">{{s.Category}}</a>
						<h5 class="card-title">{{s.name}}</h5>
						<p class="card-text card-price">
							<span ng-repeat="i in s.price"><span> </span>{{i | currency :'$'}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" ng-click="pageItem('pre')">Previous</a></li>

			<li
				class="page-item num active"
				ng-click="pageItem(i)"
				ng-repeat=" i in pagination"
				ng-if="(begin/6)+1 ==i+1">
				<a class="page-link">{{i+1}}</a>
			</li>
			<li class="page-item num" ng-click="pageItem(i)" ng-repeat=" i in pagination" ng-if="(begin/6)+1 !=i+1">
				<a class="page-link">{{i+1}}</a>
			</li>

			<li class="page-item"><a class="page-link" ng-click="pageItem('next')">Next</a></li>
		</ul>
	</div>
</div>
