/* reset css */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* cố dịnh kích thước của vật thể */
	
font-size: 2;}
html{
	scroll-behavior: smooth;
	/* tạo hiểu ứng cuộn khi ấn vào liên kết */
	font-family: Aria;
}
/* 
1.từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ tổng quan đến chi tiết
 */
/* 
1.vị trí
2 kích thước(width, height)
3.màu sắc
4.kiểu dáng(kiểu màu hình tròn,vuông) 
*/

#wapper{


}
/* common */
.clear{
	clear: both;
}


.text-white{
	color: #fff !important;
}
.row{
	margin-left: -8px;
	margin-right: -8px;
}
.row::after{
	content: "";
	display: block;
	clear: both;
}
	

.col{
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}
.col-full{
	width: 100%;
}
.col-half{
	width: 50%;
}
.col-third{
	width:33.333333333%;
}

.col.col-third.text-center {}
.text-center{
	text-align: center!important;
}
.pull-right{
	float: right!important;
}
.btn{
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	background-color: #000;
	text-decoration: none;
	padding: 13px 20px;


}
.btn:hover{
	 color: #000;
	 cursor:pointer;
	 background-color: #ccc;
}
.mt-8{
	margin-top: 8px!important;
}
.mt-16{
	margin-top: 16px!important;
}
.mt-32{
	margin-top: 32px!important;
}
/* Main */
#wapper{
 /* overflow: hidden; */
 /* ẩn đi các khoản trống thừa ra của các thẻ con của thẻ #wapper */
}
#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 46px;
	background-color: rgb(0, 0, 0);


}
#nav{
	display: inline-block;

}
#nav , .subnav{
	list-style: none;
}
#nav > li{
	display: inline-block;
}
#nav li{
	/* display: inline-block; */
	position: relative;
}
#nav > li > a{
	color: #fff;
	text-transform: uppercase;
}
#nav li a{
	text-decoration: none;
	
	line-height: 46px;
	padding: 0px 24px;
	display: inline-block;


}
#nav .subnav li:hover ,
#nav > li:hover{
	color: #000;
	background-color:#ccc;
	text-transform: uppercase;
}
#nav .subnav{
	min-width: 160px;
	background-color: #fff;	
	display: none;
	position: absolute;
	top: 100%;	
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	animation: sub 3s infinite;
	
	

}
@keyframes sub {
	50%{ box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
	
}


#nav .subnav a{
	color: rgb(0, 0, 0);
	width: 100%;
	text-transform: capitalize;
	padding: 0px 12px;
	line-height: 38px;

	

}
#nav li:hover .subnav{
	display: block;

}

#header .mobile-menu-btn,
#header .search-btn{
	float: right;
	padding: 0px 20px;
}
#header .mobile-menu-btn{
	position: absolute;
    top: 0;
    right: 0;
	display: none;
}
#header .mobile-menu-btn:hover,
#header .mobile-menu-btn i:hover
{
	color: #333;
	background-color: #ccc;
}
#header .search-btn:hover{
	background-color: #ff4242;
	cursor: pointer;

}

#header .btn-icon{
	color: #fff;
	font-size: 15px;
	line-height: 46px;
}







#slider{
	z-index: -1;
	position: relative;
	margin-top: 46px;
	/* dùng để chỉnh kích thước ảnh chiều dài luôn gấp đôi chiều rộng */
	padding-top:50%;
	background: url('../img/slider/chicago.jpg') top center /cover no-repeat;
}
#slider .text-content{
	position: absolute;
	bottom: 47px;
	color: #fff;
	left: 50%;
	text-align: center;
	/* căn giữa item */
	transform: translate(-50%);

} 
#slider .text-heading{
	font-weight: 500;
	font-size: 24px;	

}
#slider .text-description{
	margin-top: 25px;
	font-size: 15px;
}
#content{


}
#content .content-section{
	width: 800px;	
	margin:0 auto ;
	padding: 64px 0 112px;	
	max-width: 100%;    
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	
}

#content  .section-heading, .section-sub-heading{
	text-align: center;
}
#content  .section-heading{
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 4px;/* khoang cách các chữ */

}

#content  .section-sub-heading{
	font-size: 15px;
	margin-top: 25px;
	font-style: italic;/* chữ nghiêng */
	color: rgba(0, 0, 0, 0.565);
}
#content  .about-text{
	font-size: 15px;
	margin-top: 25px;
	text-align: justify;
	line-height: 1.4;

}
#content .member-list{
	margin-top: 32px;
	overflow: hidden;

}

#content .member-name{
	font-size: 15px;
}
#content .member-img{
	width: 160px;
	border-radius: 10px;

}
/* tour-section */
.tour-section{
	background-color: #000;
}
.tickets-list{
	background-color: #fff;
	margin-top: 40px;
	list-style: none;
}
.tickets-list li{
	color: #7575;
	font-size: 15px;
	padding: 11px 16px;
	border-bottom: 1px solid #ddd;

}
.tickets-list .sold-out{
	background-color: #f44336;
	color: #fff;
	padding: 3px 4px;
	margin-left: 16px;
}
.tickets-list .quantity{
 float: right;
 width: 24px;
 height: 24px;
 background-color: #000;
 color: #fff;
 border-radius: 50%;
 text-align: center;
 line-height: 24px;
 margin-top: -3px;

}
.place-list{
	margin-top:32px ;	
}

.place-img{
	width: 100%;
	display: block;

}
.place-img:hover {
	opacity: 0.6;
}
.place-body{
	padding: 16px;
	font-size: 15px;
	background-color: #fff;

}
.place-heading{
	font-size: 15px;
	font-weight: 700;
}
.place-time{
	margin-top: 15px;
	opacity: 0.6;

}
.place-desc{
	margin-top: 15px;
	line-height: 1.6;

}

/* contacts */
.contact-content{
	margin-top: 48px;
}
.contact-info{
	font-size: 18px;
	line-height: 1.6;

}
.contact-info i[class*="fa-solid"]{
	width: 30px;
	display: inline-block;
	
}
.contact-info a{
	color: rgb(22, 55, 203);
	
}
.contact-info a:hover{
	color: rgb(203, 14, 61);
}
.contact-form{
	font-size: 15px;
}
.contact-form .form-control{
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;

}
/* map */
.map-section img{ 
	width: 100%;
	height: auto;
}
/* footer */

#footer{
	padding: 64px 16px;
	text-align: center;
}
#footer .social-icons{
	font-size:40px;
	
	
}
#footer .social-icons a{
	text-decoration: none;
	color: rgba(0, 0, 0, );
}
#footer .social-icons i{
	color: rgba(0, 0, 0, 0.688);
}
#footer .copyright a:hover,
#footer .social-icons i:hover{
	color:rgba(0, 0, 0, 0.411);
}
#footer .copyright{
	margin-top:15px;
	color:rgba(0, 0, 0, 1);
	font-size: 24px;

}
#footer .copyright a{
	color:rgba(0, 0, 0, 1);
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.018);	
	align-items:  center;
	justify-content: center;
	display: none;

}
.modal.open{
	display:flex;
}

.modal .modal-cantainer{
	background-color: #fff;
	width: 900px;
	max-width: calc(100% - 32px);
	min-height: 200px;
	position: relative;
	animation:modalFaceIn ease .5s;

}

header.modal-header{
	background-color: #009688;
	height: 138px;
	/* line-height: 138px;
	text-align: center; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: #fff;
}
header.modal-header i{
	margin-right: 16px;
}
.modal-cantainer .close{
	position: absolute;
	right: 0;
	top: 0;
	padding: 16px;
	cursor: pointer;
	opacity: 0.6;
}
.modal-cantainer .modal-body{
	padding: 16px;

}
.modal-body .modal-lable{
	display: block;
	font-size: 15px;
	margin-bottom: 12px;
}
.modal-cantainer .modal-input{
	border: 1px solid #000;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 20px;
}
#buy-tickets{
	background-color: #009688;
	border: none;
	color: #fff;
	width: 100%;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 12px;
}
#buy-tickets:hover{
	opacity: 0.9;
}
.modal-footer{
	text-align: right;
	padding: 16px;
}
.modal-footer a{
	/* text-decoration: none; */
	color: #2196f3;
}
@keyframes modalFaceIn 
{
	from 
	{ 
		opacity: 0;
		transform: translateY(-140px);
	}
	to
	{
		opacity: 1; 
		transform: translateY(0px);
	}
	
}	

